<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>一生所爱</title>
	<link rel="stylesheet" href="this.css">
</head>
<body>
	<div class="border-radius">
		<!-- <h1></h1>
		<h2>我不能给你全世界，</h2>
		<h2>但是，</h2>
		<h2>我的世界，</h2>
		<h2>全部给你。</h2> -->
	</div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:10px;left:50px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:10px;left:369px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:10px;left:566px;"><img src="images/2.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:10px;left:720px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:10px;left:1024px;"><img src="images/3.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:88px;left:32px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:88px;left:399px;"><img src="images/4.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:88px;left:466px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:88px;left:799px;"><img src="images/5.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:88px;left:950px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:145px;left:100px;"><img src="images/6.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:135px;left:314px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:140px;left:492px;"><img src="images/7.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:150px;left:741px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:139px;left:1300px;"><img src="images/8.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:199px;left:45px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:195px;left:236px;"><img src="images/9.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:189px;left:400px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:196px;left:777px;"><img src="images/10.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:185px;left:1298px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:245px;left:20px;"><img src="images/11.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:246px;left:200px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:247px;left:400px;"><img src="images/12.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:248px;left:800px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:249px;left:1100px;"><img src="images/13.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:299px;left:10px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:298px;left:310px;"><img src="images/14.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:297px;left:510px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:296px;left:810px;"><img src="images/13.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:294px;left:1200px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:345px;left:20px;"><img src="images/12.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:346px;left:485px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:347px;left:685px;"><img src="images/11.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:348px;left:900px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:349px;left:1209px;"><img src="images/10.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:500px;left:102px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:510px;left:335px;"><img src="images/9.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:520px;left:652px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:530px;left:856px;"><img src="images/8.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:540px;left:1109px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:450px;left:15px;"><img src="images/7.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:456px;left:215px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:457px;left:425px;"><img src="images/6.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:458px;left:725px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:459px;left:1236px;"><img src="images/5.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:400px;left:9px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:401px;left:309px;"><img src="images/4.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:402px;left:609px;"><img src="images/1.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:403px;left:809px;"><img src="images/3.png" width="40px;"></div>
	<div class="rect" title="点点看是不是我！" style="position:absolute;top:404px;left:1096px;"><img src="images/2.png" width="40px;"></div>
</body>
</html>